@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  font-variant-ligatures: normal !important;
  font-feature-settings: 'zero', 'onum', 'cv01', 'cv02', 'cv06', 'ss01', 'cv14',
    'ss04', 'cv18', 'ss07' !important;
}

[data-md-color-scheme='slate'] {
  --md-default-bg-color: #000000 !important;
  --md-default-fg-color: #dddddd !important;
  --md-typeset-a-color: #888888 !important;
  --md-accent-fg-color: #aaaaaa !important;

  --md-primary-fg-color: var(--md-footer-bg-color) !important;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0 0.25em;
  border-radius: 0.5em;
  background-color: hsla(0, 0%, 62%, 0.1); /* amonition quote background */
}
